<div class="column rail-right">
  <div class="wrapper-right">
    <span class="line slideInRight"></span>
    <h1 class="reveal-text text-shadow">Uros</h1>
    <h1 class="reveal-text-2">Karic</h1>
    <div class="about-text">
      <h3 class="reveal-text-3">Fullstack Developer based in <span class="accent">Serbia</span></h3>
      <p class="reveal-text-4">I’m 24 year old freelance multidisciplinary <span class="accent">designer</span> & <span>developer</span>. Currently
        researching and fiddling with AI and Machine Learning.</p>
    </div>
    <div class="cta-right reveal-text-5">
      <button class="draw">Projects</button>
      <button class="draw meet costume-btn">Blog</button>
    </div>
  </div>
</div>
