@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mug1m8');
  src:  url('fonts/icomoon.eot?mug1m8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mug1m8') format('truetype'),
    url('fonts/icomoon.woff?mug1m8') format('woff'),
    url('fonts/icomoon.svg?mug1m8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ion-logo-dribbble:before {
  content: "\f233";
}
.icon-ion-logo-facebook:before {
  content: "\f236";
}
.icon-ion-logo-github:before {
  content: "\f239";
}
.icon-ion-logo-twitter:before {
  content: "\f2b0";
}

